{% extends "base.html" %}
{% load i18n %}

{% block title %}Blogs | {% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'partials/_categories.html' %}
        </div>
        <div class="col-md-9">
            <h1>All Blogs</h1>
            <hr>
            <div id="blog-list">
                <!-- Blog kartları buraya yüklenecek -->
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js_files %}
<script>

    const checkboxes = document.querySelectorAll('.filter-checkbox');
    const blogList = document.getElementById('blog-list');

    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', () =>{
            const selectedCategories = Array.from(checkboxes)
            .filter(chk => chk.checked) // seçilen kategorileri al
            .map(chk => chk.value);

            
            fetch('/filter-blogs/?' + new URLSearchParams({
                'categories[]': selectedCategories
            }))
            .then(response => response.json())
            .then(data => {
                blogList.innerHTML = data.html; // Gelen HTML'i blog listesine ekledikk
            })
            .catch(error => console.error('Error', error));
        });
    });

    fetch('/filter-blogs/')
    .then(response => response.json())
    .then(data => {
        blogList.innerHTML = data.html; // Tüm blogları yükle
    })
    .catch(error => console.error('Error:', error));
</script>
{% endblock %}