{% extends "base.html" %}
{% load i18n %}

{% block title %}Blogs | {% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-3">
            {% include 'partials/_categories.html' %}  
        </div>
        <div class="col-md-9">
            <div class="d-flex justify-content-between">
                <h1>{% trans "Blogs" %}</h1> 
                </hr>
            </div>

            <div id="blog-list">
                {% include 'blog/partials/_blog.html' with blogs=blogs %}
            </div>

            <div id="loading" class="text-center mt-3" style="display: none;">
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js_files %}
<script>
document.addEventListener("DOMContentLoaded", function () {
    // Flatpickr'i initialize ediyoruz
    flatpickr("#date_range", {
        mode: "range", // Aralık modu
        dateFormat: "Y-m-d", // Tarih formatı
        onChange: function(selectedDates, dateStr, instance) {
            // Seçilen tarih aralığı bu fonksiyonda yakalanır
            console.log("Seçilen tarih aralığı:", dateStr);
        },
    });
});

// filtreleme işlevini yapan temel fonksiyon
function fetchBlogs(selectedCategories, startDate, endDate, searchQuery, page) {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    return fetch('/load-filtered-blogs/', {
        method: 'POST',
        headers: {
            'X-CSRFToken': csrfToken,
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            categories: selectedCategories,
            start_date: startDate,
            end_date: endDate,
            search_query: searchQuery,
            page: page,
        }),
    })
    .then(response => response.json())
    .catch(error => console.error('Fetch error:', error));
}

let currentPage = 1;
let is_loading = false

function applyFilters() {
    const selectedCategories = Array.from(document.querySelectorAll('.filter-checkbox:checked')).map(checkbox => checkbox.value);


    const dateRange = document.getElementById('date_range').value; // "2024-11-01 to 2024-11-10" formatında
    let start_date = null, end_date = null;

    if (dateRange) {
        const dates = dateRange.split(" to ");
        start_date = dates[0].trim(); // Başlangıç tarihi (trim ile boşluklar temizleniyor)
        end_date = dates[1]?.trim(); // Bitiş tarihi (?. ile null kontrolü)
    }

    const searchQuery = document.getElementById('search-input').value;

    currentPage = 1; 
    is_loading = false; 


    fetchBlogs(selectedCategories, start_date, end_date, searchQuery, currentPage)
        .then(data => {
            if (data.blogs){
                document.getElementById('blog-list').innerHTML = data.blogs;
            }
        })
        .catch(error => console.error('Error:', error))
}

document.addEventListener('DOMContentLoaded', function() {
    const categoryCheckboxes = document.querySelectorAll('.filter-checkbox');
    categoryCheckboxes.forEach(checkbox => {
        checkbox.addEventListener('change', applyFilters); // Checkbox değişince filtrele
    });

    const filterButton = document.getElementById('filter-button');
    if (filterButton) {
        filterButton.addEventListener('click', applyFilters); // Butona tıklayınca filtrele
        
    }

    const searchInput = document.getElementById('search-input');
    if (searchInput) {
        searchInput.addEventListener('focusout', applyFilters); // Arama kutusu odaktan çıkınca filtrele
    }
});
     
// Sonsuz kaydırma fonksiyonunu güncelle
window.addEventListener('scroll', function() {
    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight - 500 && !is_loading) {
        is_loading = true; // Aynı anda birden fazla istek önlemek için

        const selectedCategories = Array.from(document.querySelectorAll('.filter-checkbox:checked')).map(checkbox => checkbox.value);
        const dateRange = document.getElementById('date_range').value; // Tek input
        let start_date = null, end_date = null;

        if (dateRange) {
            const dates = dateRange.split(" to ");
            start_date = dates[0];
            end_date = dates[1];
        }

        const searchQuery = document.getElementById('search-input').value;

        currentPage++;
        fetchBlogs(selectedCategories, start_date, end_date, searchQuery, currentPage)
            .then(data => {
                if (data.blogs) {
                    const blogList = document.getElementById('blog-list');
                    blogList.insertAdjacentHTML('beforeend', data.blogs);
                    is_loading = false;
                } else {
                    is_loading = true; // Blog yoksa kaydırmayı durdur
                }
            })
            .catch(error => console.error('Error:', error));
    }
});

</script>
{% endblock %}


