{% load static %}

<div class="card mb-3 position-relative">
    <div class="position-absolute top-0 end-0 p-2 text-muted" style="font-size: 0.9rem;">
        {{ blog.created_at|date:"d M Y" }}
    </div>
    
    <div class="row">
        <div class="col-md-3">
            <img src="{{ blog.image.url }}" class="img-fluid">  
        </div>
        <div class="col-md-9">
            <div class="card-body">             
                <h5 class="card-title">
                    <a href="{% url 'blog_details' blog.slug %}">{{ blog.title }}</a>
                </h5>
                <p class="card-text">{{ blog.description|striptags|slice:"0:950"|safe }}</p>
            </div>
        </div>
    </div>
</div>
