{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Admin-Panel{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <style>
        body {
            background-color: #343a40; 
            color: #ffffff; 
        }

        .table {
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        }

        .table thead th {
            background-color: #6c757d; 
            color: white; 
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f2f2f2; 
        }

        .table tbody tr.selected {
            background-color: #d1ecf1;  
        }

        .list-group-item {
            background-color: #495057; 
            color: #ffffff; 
            border-radius: 5px; 
        }

        .list-group-item:hover {
            background-color: #6c757d;
            color: #ffffff;
        }

        .btn-success {
            background-color: #28a745; 
            border-color: #28a745;
        }

        .btn-danger {
            background-color: #dc3545; 
            border-color: #dc3545;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 row">
    {% include 'partials/msg.html' %}
    <div class="col-md-3 list-group">  
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Ana Sayfa</a>
        <a href="{% url 'admin_panel:manage_blogs' %}" class="list-group-item list-group-item-action">Blog Yönetimi</a>
        <a href="{% url 'admin_panel:manage_users' %}" class="list-group-item list-group-item-action">Kullanıcı Yönetimi</a>
    </div>
    <div class="col-md-9">
        <div class="row align-items-center">
            <div class="col d-flex justify-content-between">
                <h2>Blog Yönetimi</h2>
                <div>
                    <select id="actionSelect">
                        <option value="activate">Activate</option>
                        <option value="deactivate">Deactivate</option>
                    </select>
                    <button id="applyButton" class="btn btn-primary my-3">Uygula</button>
                </div>
            </div>
        </div>
        <table id="blogsTable" class="table table-dark table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>ID</th>
                    <th>Başlık</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block js_files %}
<script>
    const updateStatusUrl = "{% url 'admin_panel:update_status' %}";
    const csrfToken = '{{ csrf_token }}';

    $('#selectAll').on('click', function() {
        var is_checked = $(this).prop('checked');
        $('#blogsTable tbody input[type="checkbox"]').prop('checked', is_checked);
        if (is_checked) {
            $('#blogsTable tbody tr').addClass('selected');
        } else {
            $('#blogsTable tbody tr').removeClass('selected');
        }
    });
    
    $('#applyButton').on('click', function() {
        const selectedBlogIds = [];
        
        $('#blogsTable tbody input[type="checkbox"]:checked').each(function() {
            selectedBlogIds.push($(this).data('blog-id'));
        });
        
        if (selectedBlogIds.length === 0) {
            showAlert('warning', 'Lütfen en az bir blog seçin.');
            return;
        }

        const action = $('#actionSelect').val();  

        $.ajax({
            url: updateStatusUrl,
            type: 'POST',
            data: {
                'ids': selectedBlogIds,
                'type': 'blog', 
                'action': action,  
                'csrfmiddlewaretoken': csrfToken
            },
            success: function(response) {
                if (response.success) {
                    loadBlogs(); 
                    showAlert('success', response.message);
                } else {
                    showAlert('danger', response.message);
                }
            },
            error: function() {
                showAlert('danger', 'Toplu durum güncellenirken bir hata oluştu.');
            }
        });
    });


    let blogsTable;

    $(document).ready(function(){
        blogsTable = $('#blogsTable').DataTable({
            language:{
                url: "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
            }
        });

        loadBlogs();


        $('#blogsTable tbody').on('click', 'tr', function() {
            var checkbox = $(this).find('input[type="checkbox"]');
            checkbox.prop('checked', !checkbox.prop('checked'));
            $(this).toggleClass('selected');  
        });
    });

    function updateStatus(itemId, itemType, action) {
        console.log(`updateStatus called with: itemId=${itemId}, itemType=${itemType}, action=${action}`);


        $.ajax({
            url: updateStatusUrl,
            type: 'POST',
            data: {
                'ids[]': itemId,
                'type': itemType,
                'action': action,
                'csrfmiddlewaretoken': csrfToken
            },
            success: function(response) {
                if (response.success) {
                    const rows = blogsTable.rows().nodes();
                    $(rows).each(function() {
                        const rowId = $(this).find('input[type="checkbox"]').data('blog-id');
                        if (rowId == itemId) {
                            const row = blogsTable.row(this);
                            const rowData = row.data();
                            
                            const newStatus = action === 'activate' ? 'Aktif' : 'Pasif';
                            const newButton = action === 'activate' 
                                ? `<button onclick="deactivateBlog(${itemId})" class="btn btn-danger btn-sm">Deaktive Et</button>`
                                : `<button onclick="activateBlog(${itemId})" class="btn btn-success btn-sm">Aktif Et</button>`;
                            
                            rowData[3] = newStatus;  
                            rowData[4] = newButton;  
                            
                            row.data(rowData).draw(false);
                            
                            return false; 
                        }
                    });
                        
                    showAlert('success', response.message);
                } else {
                    showAlert('danger', response.message);
                }
            },
            error: function() {
                showAlert('danger', 'Durum güncellenirken bir hata oluştu.');
            }
        });
    }

    function showAlert(type, message) {
        $('.alert').remove();

        const alertHtml = `
            <div class="alert alert-${type} alert-dismissible fade show" role="alert">
                ${message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        `;

        $('.col-md-3').prepend(alertHtml);

        setTimeout(() => {
            $('.alert').fadeOut('slow', function(){
                $(this).remove();
            } )
        }, 3000);
    }

    function activateBlog(blogId, event){
        updateStatus(blogId, 'blog', 'activate');
    }
  
    function deactivateBlog(blogId, event){
        updateStatus(blogId, 'blog', 'deactivate');
    }

    function loadBlogs() {
        $.ajax({
            url: "{% url 'admin_panel:ajax_manage_blogs' %}",
            type: "GET",
            success: function(response) {
                blogsTable.clear();

                response.forEach(function(blog){
                    var status = blog.is_active ? 'Aktif' : 'Pasif';
                    var actions = blog.is_active
                        ? `<button onclick="deactivateBlog(${blog.id})" class="btn btn-danger btn-sm">Deaktive Et</button>`
                        : `<button onclick="activateBlog(${blog.id})" class="btn btn-success btn-sm">Aktif Et</button>`;
                    
                    var row = [
                        `<input type="checkbox" class="blogCheckbox" data-blog-id="${blog.id}">`,
                        blog.id,
                        blog.title,
                        status,
                        actions   
                    ];

                    blogsTable.row.add(row);
                });

                blogsTable.draw();
            },
            error: function() {
                showAlert('danger', 'blog verileri yüklenemedi');
            }
        });
    }

</script>
{% endblock %}




<!-- 
datatable kullandığımız için bu kısmı kaldırdık.
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Önceki</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Sonraki</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav> -->
