{% extends 'admin_base.html' %}

{% block title %}Admin-Panel{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <style>
        body {
            background-color: #343a40; 
            color: #ffffff; 
        }

        .table {
            background-color: #ffffff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
        }

        .table thead th {
            background-color: #6c757d; 
            color: white; 
        }

        .table-striped tbody tr:nth-of-type(odd) {
            background-color: #f2f2f2; 
        }

        .list-group-item {
            background-color: #495057; 
            color: #ffffff; 
            border-radius: 5px; 
        }

        .list-group-item:hover {
            background-color: #6c757d;
            color: #ffffff;
        }

        .btn-success {
            background-color: #28a745; 
            border-color: #28a745;
        }

        .btn-danger {
            background-color: #dc3545; 
            border-color: #dc3545;
        }
        .pagination .page-item .page-link {
            background-color: #495057; 
            color: #ffffff;
            border: none;
        }

        .pagination .page-item.active .page-link {
            background-color: #6c757d; 
            color: #ffffff;
            border: none;
        }

        .pagination .page-item .page-link:hover {
            background-color: #343a40; 
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid mt-5 row">
    {% include 'partials/msg.html' %}
    <div class="col-md-3 list-group">  
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">Ana Sayfa</a>
        <a href="{% url 'admin_panel:manage_blogs' %}" class="list-group-item list-group-item-action">Blog Yönetimi</a>
        <a href="{% url 'admin_panel:manage_users' %}" class="list-group-item list-group-item-action">Kullanıcı Yönetimi</a>
    </div>
    <div class="col-md-9">
        <div class="row align-items-center">
            <div class="col">
                <h2>Blog Yönetimi</h2>
            </div>
        </div>
        <table id="blogsTable" class="table table-dark table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox" id="selectAll"></th>
                    <th>ID</th>
                    <th>Başlık</th>
                    <th>Durum</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{% endblock %}

{% block js_files %}
<script>
    $('#selectAll').on('click', function() {
        var is_checked = $(this).prop('checked');
        $('#blogsTable tbody input[type="checkbox"]').prop('checked', is_checked);
    })
    function loadBlogs() {
        $.ajax({
            url: "{% url 'admin_panel:ajax_manage_blogs' %}",
            type: "GET",
            success: function(response) {
                var blogsTable = $('#blogsTable').DataTable();
                blogsTable.clear();

                response.forEach(function(blog) {
                    var status = blog.is_active ? 'Aktif' : 'Pasif';
                    var actions = blog.is_active
                        ? `<button onclick="deactivateBlog(${blog.id})" class="btn btn-danger btn-sm">Deaktive Et</button>`
                        : `<button onclick="activateBlog(${blog.id})" class="btn btn-success btn-sm">Aktif Et</button>`;

                    var row = [
                        `<input type="checkbox" class="blogCheckbox" data-blog-id="${blog.id}">`,
                        blog.id,
                        blog.title,
                        status,
                        actions
                    ];

                    blogsTable.row.add(row);
                });
                blogsTable.draw();
            },
            error: function() {
                console.error("Blog verileri yüklenemedi.");
            }
        });
    }

    loadBlogs();

    function activateBlog(blogId) {
        $.ajax({
            url: "{% url 'admin_panel:activate_blog' %}",
            type: "POST",
            data: {
                'id': blogId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function() {
                loadBlogs(); 
            },
            error: function() {
                console.error("Blog aktif hale getirilemedi.");
            }
        });
    }

    function deactivateBlog(blogId) {
        $.ajax({
            url: "{% url 'admin_panel:deactivate_blog' %}",
            type: "POST",
            data: {
                'id': blogId,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function() {
                loadBlogs(); 
            },
            error: function() {
                console.error("Blog pasif hale getirilemedi.");
            }
        });
    }
</script>
{% endblock %}




<!-- 
datatable kullandığımız için bu kısmı kaldırdık.
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">&laquo;</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Önceki</a>
            </li>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Sonraki</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">&raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav> -->
